<h1>About</h1>

<h2>1. WHAT?</h2>
<h3>Tagline</h3> 
1liner describing what we do. 
<ul>
	<li>“Storytelling as it should be.”</li> 
	<li>“Telling stories. The fun way.”</li> 
	<li>“The bringer of stories.” </li>
	<li>“The magic of storytelling.” </li>
	<li>“The storyteller.”</li>
</ul>
“Fairy Whale” is a community storytelling platform where people co-create and share stories on the fly.
“Fairy Whale” is a friendly environment that enables people to either start their story or become part of an existing story. It fosters co-creation, collaboration and creativity through deep and fun engagement.

<h3>1.1. Start a story</h3>
Organizations or individuals can start a story, set the anchor points and milestones and then invite the community to participate, co-create and share their piece of magic. The story facilitators can set the rules, decide if the story is public or private, and set ways for other users to respond. May it be text, image or video, Fairy Whale combines them all into one, magical story.

<h3>1.2. Join a story</h3>
People can respond to a story, either invited directly or respond to a story they found interesting or thought-provoking.

<h3>1.3. Export the story</h3>
Users can export the story at any given time. Even more, each person can create their own story out of published bits and pieces. The selection and export process is highly intuitive and playful which even further increases engagement.

<h3>1.4. Share the story</h3>

People can either share their exported story or share an invitation to participate in an active story.

<h2>2. WHY?</h2>
(Because) “Fairy Whale” is a platform fostering interdisciplinary and cross-generational collaboration and creativity through the powerful medium of stories. The platform encourages various user groups to get actively engaged in creative processes, learn about teamwork, democracy and the power of co-creation. The goal of “Fairy Whale“ is to breathe life, meaning and fun into mundane, everyday events and to inspire people to be more creative and active.

<h2>3. (for) WHO?</h2>
“Fairy Whale” is aimed at both open and closed communities. Based on it’s functionality it is aimed mainly at:
<ul>
	<li>Storytellers, authors and artists who want to start co-creating or sharing their story</li>
	<li>Content producers (conventional and new media, ) in search for constructive, semi-structured feedback and engagement from its users (in story-like style of comments)</li>
	<li>Organizations (eg. schools, conferences, festivals, workshops, camps) where a group of people with similar interests is grouped under the same roof</li>
</ul>

