<h1>Fairy Whale</h1>
<p>“Fairy Whale” is a community storytelling platform where people co-create and share stories on the fly.</p>
<p>“Fairy Whale” is a friendly environment that enables people to either start their story or become part of an existing story. It fosters co-creation, collaboration and creativity through deep and fun engagement.</p>

<%= link_to "Sign up now and start a story!", signup_path, :class => "signup_button round" %>
